.container {
  padding: 0px 24px;
  margin-top: 166px;
  border: 1px solid #f0f0f5;
  border-radius: 8px;

  .title {
    display: flex;
    flex: 0 0 100%;
    margin: 32px 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}

/* section product-list */
:global(.product-container) {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2px;
  margin-bottom: 32px;

  .img {
    width: 100px;
    height: 100px;
    margin-right: 21px;
    border-radius: 5px;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;

    .name {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      max-width: 60%;
      margin-right: auto;
    }

    :global(.control-container) {
      display: block;
      width: 100%;
      order: 1;
    }

    .control {
      display: flex;
      width: 116px;
      margin-top: 18px;
      margin-bottom: 17px;
      justify-content: space-between;
      align-items: center;

      .action {
        display: inline-block;
        width: 27px;
        height: 26px;
        cursor: pointer;
      }

      .count {
        display: inline-block;
      }
    }

    .price {
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
    }
  }
}

/* section cart-info */
:global(.cart-info) {
  border-top: 1px solid #f0f0f5;
  padding-top: 16px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: space-between;

  .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-text);
  }

  .price {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

@media screen and (max-width: 749.5px) {
  .container {
    margin-top: 32px;
    padding-top: 18px;

    .title {
      display: none;
    }
  }

  :global(.product-container) {
    .info {
      flex-direction: column;
      align-items: flex-end;
      flex-wrap: nowrap;
      justify-content: space-between;

      .name {
        margin-right: unset;
        max-width: unset;
      }

      :global(.control-container) {
        width: auto;
        order: unset;

        .control {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
  }

  :global(.cart-info) {
    padding-bottom: 16px;
  }
}
