// base setting
@mixin col-series($serial) {
  display: flex;
  flex-wrap: wrap;
  $width: 100% / 12 * $serial;
  flex: 0 0 $width;
  align-content: flex-start;
  max-width: $width;
}

.col {
  @for $index from 1 to 13 {
    &.col-#{$index} {
      @include col-series($index);
    }
  }
}
.cursorPoint {
  cursor: pointer;
}
// base setting end

section.register-container {
  h2.register-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--main-text);
  }
}

section.progressContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  .progressBar {
    display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
  }

  .progressGroup {
    display: flex;

    .progressIcon {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;

      .text {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: inherit;
      }

      .icon {
        width: inherit;
        height: inherit;
      }
    }

    .label { //used to call'.progress-label'
      font-weight: 400;
      line-height: 24px;
      color: var(--main-text);
    }
  }
}