.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  :global(.progress-bar) {
    display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
  }

  :global(.progress-group) {
    display: flex;

    :global(.progress-icon) {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;

      :global(.text) {
        width: inherit;
        height: inherit;
        position: absolute;
        top: 0px;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        color: inherit;
      }
      :global(.icon) {
        width: inherit;
        height: inherit;
      }
    }
    :global(.progress-label) {
      font-weight: 400;
      line-height: 24px;
      color: var(--main-text);
    }
  }
}
@media screen and (max-width: 749.5px) {
  .container {
    margin-top: 24px;
  }
  :global(.progress-icon) {
    width: 32px;
    height: 32px;
    margin-right: 0px;
  }
  :global(.text) {
    line-height: 32px;
  }

  :global(.progress-label) {
    display: none;
  }
}
